In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')

In [3]:
data

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [4]:
data['Sex'] = data['Sex'] == 'male'

In [5]:
data

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,True,22.0,1,0,7.2500
1,1,1,False,38.0,1,0,71.2833
2,1,3,False,26.0,0,0,7.9250
3,1,1,False,35.0,1,0,53.1000
4,0,3,True,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,True,27.0,0,0,13.0000
883,1,1,False,19.0,0,0,30.0000
884,0,3,False,7.0,1,2,23.4500
885,1,1,True,26.0,0,0,30.0000
886,0,3,True,32.0,0,0,7.7500

In [6]:
X = data[['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
y = data['Survived'].values

In [7]:
X.shape

(887, 6)

In [8]:
X[0]

array([3, True, 22.0, 1, 0, 7.25], dtype=object)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [10]:
model = DecisionTreeClassifier()

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

In [12]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
model.predict([X[0]])

array([0])

In [14]:
model.score(X_test, y_test)

0.7882882882882883

In [15]:
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import precision_score, recall_score

In [17]:
precision_score(y_test, y_pred)

0.7415730337078652

In [18]:
recall_score(y_test, y_pred)

0.7333333333333333

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:


model = RandomForestClassifier(random_state=random_state)